html, #root {
    background-color: #42a5f5;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

p {
    margin: 0
}

header {
    background-color: white;
    width: 100%;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#site-name {
    display: inline;
}

.section-container {
    background-color: white;
    width: 900px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.like-dislike-separating-div {
    background-color: #c8c8c8;
    width: 0.15rem;
    border-radius: 2px;
    margin-left: 12px;
    margin-right: 6px;
}

.no-decor-anchor {
    text-decoration: none;
}

/*Post*/

.post-image {
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

/*Comment*/

.comment-nest-div {
    display: flex;
    flex-grow: 1;
    background-color: #c8c8c8;
    width: 0.12rem;
    border-radius: 2px;
    margin: 35% 0 40% 45%;
}

.avatar-column-div {
    display: flex;
    flex-direction: column;
}

.error-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.sortby-container {
    color: #9c9c9c;
    margin-bottom: 1.5%;
}

@media screen and (max-width: 900px) {
    .sortby-container {
        margin-bottom: 3%;
    }
}

/*Header*/

#header-username {
    display: inline;
    font-size: 140%;
    font-weight: 500;
    margin: 0 7% 0 7%;
}

#header-menu-button {
    display: flex;
    flex-direction: row-reverse;
    height: 60px;
    padding-left: 20px;
    color: black;
    text-transform: none;
}

.dropdown-options-div {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #c8c8c8;
    border-top: none;
}

#site-name {
    font-weight: 700;
    font-size: 230%;
    color: #9c27b0;
    text-decoration: none;
}

/*UserSection*/

.section-title-text {
    margin: 0;
    font-size: 180%;
    font-weight: 500;
}

#user-section-username {
    font-weight: 500;
    font-size: 240%;
}

#user-section-account-age {
    float: right;
    font-size: 150%;
}

.user-section-item-container {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0.5vh;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

/*Auth*/

#auth-section-container {
    background-color: white;
    width: 450px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.login-signup-div {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
}

.login-signup-button {
    padding: 10%;
}

/*Account*/

#warning-body-paragraph {
    margin-top: 2%;
}

/*MakeUpdatePost*/

.main-textfields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#guideline-body {
    margin-top: 0.5%;
    font-size: 130%;
}

/*Small Screen Styles*/

@media screen and (max-width: 900px) {
    .section-container {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #user-section-username {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    #small-screen-header {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .section-container {
        padding: 10px;
    }

    #site-name {
        display: none;
    }

    #large-screen-header {
        display: none
    }

    #search-bar-container {
        margin-left: 1.5%;
    }

    .comment-nest-div {
        margin-left: 10%;
    }

    #auth-section-container {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}